{% extends 'starter.html'%}

{% block title %} Customer Profile {% endblock %}

{%block navshow %}
{% with login=login %} {{block.super}} {% endwith %}
{%endblock navshow %}

{% block body %} 
{% load static %}
{% include 'modal.html' with user=user %}

<div class="container text-center my-4">
    <h1 class="display-4 text-center">This is a complaint form</h1>
</div>

<!--form section-->
<form action='{{ HTTP_HOST }}/customer/filecomp/' method='post' class="needs-validation my-4 container" novalidate>
    {% csrf_token %}


    <div class="form-row d-flex flex-column justify-content-center ">

        <div class="col-md-6 mb-6">
            <label for="validationCustom101">Your Complaint</label>
            <input type="text" name='comp' class="form-control" id="complain" maxlength="1000" required>

        </div>
        <div class="col-md-6 mb-3 my-3">
            <label for="exampleFormControlSelect1">Complain Type</label>
            <select class="form-control" name="ctype" id="exampleFormControlSelect1">
                <option>Reservation</option>
                <option>Service</option>
                <option>Employee</option> 
            </select>
        </div>
    </div>

    <!-- <button class="btn btn-primary" type="submit">Expense Entry</button> -->
    <div class="d-flex flex-column justify-content-center text-center">
        <button type="button" class="btn btn-primary mx-auto my-3" data-toggle="modal" data-target="#exampleModal">
            Fill a complaint
        </button>
    </div>

    <!-- Modal -->
    <div class="modal fade container justify-content-center col-3" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-warning">
                    <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are You Sure You Want To File a Complaint? Confirm Again
                </div>
                <div class="modal-footer container justify-content-center col-5">
                    <button type="submit" class="btn btn-primary">YES</button>
                    <button type="submit" class="btn btn-secondary" data-dismiss="modal">NO</button>
                    
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>

{% endblock %}
