{% extends 'starter.html'%}

{% block title %} Customer Profile {% endblock %}

{%block navshow %}
{% with login=login %} {{block.super}} {% endwith %}
{%endblock navshow %}

{% block body %}
{% load static %}
{% include 'modal.html' with user=user %}

<form action='{{ HTTP_HOST }}/delete/' method='post' class="needs-validation" novalidate>
  {% csrf_token %}
  <div class="modal fade container justify-content-center col-3" id="delmodal" tabindex="-1"
    aria-labelledby="delmodallabel" aria-hidden="true">
    <div class="modal-dialog modal-content">
      <div class="modal-header bg-warning">
        <h5 class="modal-title" id="delmodallabel">Are you sure?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% if employee %}
        Are you sure that you want to leave your Job? This action can't be reversed.
        {% else %}
        Are you sure that you want to delete your account? This action can't be reversed.
        {% endif %}
      </div>
      <div class="modal-footer container justify-content-center col-5">
        <button type="submit" class="btn btn-primary">Yes</button>
        <button type="submit" class="btn btn-secondary" data-dismiss="modal">No</button>

      </div>
    </div>
  </div>
</form>

<div class="container-fluid my-4">
  <div class="row">
    <div class="col-3 d-flex flex-column">
      <img src="{% static 'img/user.png' %}" class="d-block mx-auto" width="250" height="250" alt="username"><br />
      <p class="text text-center display-4 mb-0 pb-0">{{allval.name}}</p>
      <p class="text text-center text-secondary">{{allval.email}}</p>
      {% if user.user_id == allval.user_id %}
      <form class="form d-flex flex-column">
        <a class="btn btn-primary text-white my-2" role="button" href="{{ HTTP_HOST }}/edition/">
          Edit Account Info
        </a>
        <button type="button" class="btn btn-danger my-2" data-toggle="modal" data-target="#delmodal">
          Delete Account
        </button>
      </form>
      {% endif %}
    </div>
    <div class="container col-8">
      <p class="display-4">Customer Profile Information</p>
      <table class="table table-hover table-striped table-bordered">
        <thead class="thead-dark text-center">
          <tr>
            <th scope="row" colspan="3">Basic Information</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" colspan="2">Name</th>
            <td>{{allval.name}}</td>
          </tr>
          {% for ph in allval.phone_nums %}
          <tr>
            {% if ph == allval.phone_nums.0 %} <th scope="row" colspan="2" rowspan="{{allval.phone_nums|length}}"
              style="vertical-align : middle;">Phone Number</th> {% endif %}
            <td>+880{{ph.phone_no}}</td>
          </tr>
          {% endfor %}
          <tr>
            <th scope="row" colspan="2">Email</th>
            <td>{{allval.email}}</td>
          </tr>
          <tr>
            <th scope="row" rowspan="4" style="vertical-align : middle;">Address</th>
            <th scope="row">House No.</th>
            <td>{{allval.house_no}}</td>
          </tr>
          <tr>
            <th scope="row">Road</th>
            <td>{{allval.road_no}}</td>
          </tr>
          <tr>
            <th scope="row">City</th>
            <td>{{allval.city}}</td>
          </tr>
          <tr>
            <th scope="row">Country</th>
            <td>{{allval.country}}</td>
          </tr>
        </tbody>
        <thead class="thead-dark text-center">
          <tr>
            <th scope="row" colspan="3">Credentials</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" colspan="2">User ID</th>
            <td>{{allval.user_id}}</td>
          </tr>

          <tr>
            <th scope="row" colspan="2">ID Card No.</th>
            <td>{{allval.id_card_no}}</td>
          </tr>
          <tr>
            <th scope="row" colspan="2">Passport No.</th>
            <td>{{allval.passport_no}}</td>
          </tr>
          <tr>
            <th scope="row" colspan="2">Credit Card No.</th>
            <td>{{allval.credit_card_no}}</td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}