{% extends 'starter.html'%}

{% block title %} Customer Profile {% endblock %}

{%block navshow %}
{% with login=login %} {{block.super}} {% endwith %}
{%endblock navshow %}

{% block body %} 
{% load static %}
{% include 'modal.html' with user=user %}

<h1 class="display-2 text-center">Customer Profile</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-4 d-flex flex-column justify-content-center">
            <img src="{% static 'img/user.png' %}" class="d-block mx-auto" width="350" height="350" alt="username"><br/>
            <p class="text text-center display-4 mb-0 pb-0">{{user.name}}</p>
            <p class="text text-center text-secondary">@{{user.username}}</p>
        </div>
        <div class="col-8">
            <p class="display-4">Customer Information</p>
            <table class="table table-hover table-striped table-bordered w-20">
                <tbody>
                  <tr>
                    <th scope="row" colspan="2">User ID</th>
                    <td>{{user.user_id}}</td>
                  </tr>
                  <tr>
                    <th scope="row" colspan="2">Name</th>
                    <td>{{user.name}}</td>
                  </tr>
                  {% for ph in user.phone_nums %}
                  <tr>
                    <th scope="row" colspan="2">Phone Number</th>
                    <td>{{ph.phone_no}}</td>
                  </tr>
                  {% endfor %}

                  {% for em in user.emails %}
                  <tr>
                    <th scope="row" colspan="2">Email</th>
                    <td>{{em.email}}</td>
                  </tr>
                  {% endfor %}

                  <tr>
                    <th scope="row" rowspan="4">Address</th>
                    <th scope="row" >House No.</th>
                    <td>{{user.house_no}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Road</th>
                    <td>{{user.road_no}}</td>
                  </tr>
                  <tr>
                    <th scope="row">City</th>
                    <td>{{user.city}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Country</th>
                    <td>{{user.country}}</td>
                  </tr>

                  <tr>
                    <th scope="row" colspan="2">ID Card No.</th>
                    <td>{{user.id_card_no}}</td>
                  </tr>
                  <tr>
                    <th scope="row" colspan="2">Passport No.</th>
                    <td>{{user.passport_no}}</td>
                  </tr>
                  <tr>
                    <th scope="row" colspan="2">Credit Card No.</th>
                    <td>{{user.credit_card_no}}</td>
                  </tr>
                  
                </tbody>
              </table>
        </div>
    </div>
</div>

{% endblock %}
