{% extends 'starter.html' %}

{% block title %} Reservations Management {% endblock %}

{% block style %} {% endblock %}

{%block navshow %}
{% with login=login %} {{block.super}} {% endwith %}
{%endblock navshow %}

{% block body %}
{% load static %}
{% include 'modal.html' with user=user %}


<div class="container-fluid my-4">

    <div class="row">
        <div class="col-3">
            <img src="{% static 'img/reslogo.png' %}" class="d-block mx-auto" width="100" height="100"
                alt="reservation logo"><br />
            <h1 class="display-4 text-right mb-4">Reservation Menu</h1>
            <div class="nav flex-column nav-pills text-right" id="v-pills-tab" role="tablist"
                aria-orientation="vertical">
                <a class="nav-link {%if prob.guest or prob.room or prob.date %}{% else %} active{% endif %}" id="actrestab" data-toggle="pill" href="#actres" role="tab"
                    aria-controls="actres" aria-selected="true">Active Reservations</a>
                <a class="nav-link {%if prob.guest or prob.room or prob.date %}active{% else %}{% endif %}" id="crerestab" data-toggle="pill" href="#creres" role="tab" aria-controls="creres"
                    aria-selected="false">Create Reservation</a>
            </div>
        </div>

        <div class="container col-8">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade {%if prob.guest or prob.room or prob.date %}{% else %}show active{% endif %}" id="actres" role="tabpanel" aria-labelledby="actrestab">
                    <h4>Active Reservations: <h5 class="display-4 text-left mb-4">{{data|length}}</h5>
                    </h4>

                    <div class="row">
                        {% for res in data %}
                        <div class="col-4">
                            <div class="card border-secondary mb-3">
                                <div class="card-header font-weight-bold">
                                    Reservation : {{res.resid}}
                                </div>
                                <div class="card-body">
                                    <p class="card-text text-justify">
                                        <b>Reservation ID:</b> {{res.resid}} <br>
                                        <b>Number of Guests:</b> {{res.guest_no}} <br>
                                        <b>Arrival Date:</b> {{res.arrivaldate}} <br>
                                        <b>Depart Date:</b> {{res.departuredate}} <br>
                                    </p>
                                    <form class="form-inline">
                                        <a class="btn btn-primary text-white mx-auto" role="button"
                                            href="{{ HTTP_HOST }}/reservation/{{res.resid}}/">
                                            View Details
                                        </a>
                                    </form>
                                </div>
                                <div class="card-footer font-weight-light">
                                    Date Created: {{res.arrivaldate}}
                                </div>
                            </div>
                        </div>
                        {% endfor %}


                    </div>
                </div>


                <div class="tab-pane fade {%if prob.guest or prob.room or prob.date %}show active{% else %}{% endif %}" id="creres" role="tabpanel" aria-labelledby="crerestab">
                    {% if prob.guest %}
                    <div class="alert alert-danger alert-dismissible fade show mb-0" role="alert">

                        <strong>Reservation Unsuccessful.</strong> No of chosen guests is more than the capacity.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    {% elif prob.room %}
                    <div class="alert alert-danger alert-dismissible fade show mb-0" role="alert">

                        <strong>Reservation Unsuccessful.</strong> Chosen Room is not available at this moment
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    {% elif prob.date %}
                    <div class="alert alert-danger alert-dismissible fade show mb-0" role="alert">

                        <strong>Reservation Unsuccessful.</strong> You have chosen a invalid date.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>


                    {% else %}
                    <div class="alert alert-primary alert-dismissible fade show mb-0" role="alert">

                        <strong>Please fill up the form.</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endif %}



                    <div class="container text-center">
                        <h5 class="display-4 text-center mb-4">Create Room Reservation</h5>
                    </div>

                    <!--form section-->
                    <form action='{{ HTTP_HOST }}/reservation/cr_reserve/' method='post'
                        class="needs-validation my-4 container" novalidate>
                        {% csrf_token %}


                        <div class="form-row">

                            <div class="col-md-2 mb-6">
                                <label for="exampleFormControlSelect1">Room Type</label>
                                <select class="form-control" name="room_t" id="exampleFormControlSelect10" required>
                                    <option>Personal Suit</option>
                                    <option>Family Suit</option>
                                    <option>Executive Suit</option>
                                </select>
                            </div>
                            <div class="col-md-2 mb-6">
                                <label for="validationCustom101">No of Guests</label>
                                <select class="form-control" name="no_of_g" id="exampleFormControlSelect11" required>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                </select>

                            </div>
                            <div class="col-md mb-6 mx-3">
                                <table class="table  table-striped table-bordered w-20">
                                    <tbody>
                                        <tr>
                                            <td>Personal Suit (Capacity - 1 person) Per Day Rent - 1500 taka</td>
                                        </tr>
                                        <tr>
                                            <td>Executive Suit (Capacity - 2 persons) Per Day Rent - 3000 taka</td>
                                        </tr>
                                        <tr>
                                            <td>Family Suit (Capacity - 4 persons) Per Day Rent - 5500 taka</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-6 mb-5">
                                <label for="validationCustom03">Arrival Date</label>
                                <input type="date" name='a_date' min="{{mindate}}" class="form-control"
                                    id="validationCustom000" required>
                                <div class="invalid-feedback">
                                    Please provide a valid date.
                                </div>

                            </div>
                            <div class="col-md-6 mb-5">
                                <label for="validationCustom03">Departure Date</label>
                                <input type="date" name='d_date' min="{{mindate}}" class="form-control"
                                    id="validationCustom001" required>
                                <div class="invalid-feedback">
                                    Please provide a valid date.
                                </div>
                            </div>
                        </div>
                        <!-- <button class="btn btn-primary" type="submit">Expense Entry</button> -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                            Confirm Reservation
                        </button>

                        <!-- Modal -->
                        <div class="modal fade container justify-content-center col-3" id="exampleModal" tabindex="-1"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header bg-warning">
                                        <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        This Action Can't Be Undone.
                                    </div>
                                    <div class="modal-footer container justify-content-center col-5">
                                        <button type="submit" class="btn btn-primary">YES</button>
                                        <button type="submit" class="btn btn-secondary" data-dismiss="modal">NO</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <script>
                        // Example starter JavaScript for disabling form submissions if there are invalid fields
                        (function () {
                            'use strict';
                            window.addEventListener('load', function () {
                                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                                var forms = document.getElementsByClassName('needs-validation');
                                // Loop over them and prevent submission
                                var validation = Array.prototype.filter.call(forms, function (form) {
                                    form.addEventListener('submit', function (event) {
                                        if (form.checkValidity() === false) {
                                            event.preventDefault();
                                            event.stopPropagation();
                                        }
                                        form.classList.add('was-validated');
                                    }, false);
                                });
                            }, false);
                        })();
                    </script>

                </div>


            </div>
        </div>

    </div>
</div>


{% endblock %}