{% extends 'starter.html' %}

{% block title %} Services Management {% endblock %}

{% block style %} {% endblock %}

{%block navshow %}
{% with login=login %} {{block.super}} {% endwith %}
{%endblock navshow %}

{% block body %}
{% load static %}
{% include 'modal.html' with user=user %}


<!-- Modal -->



<div class="container-fluid my-4">

    <div class="modal fade" id="cancelmodal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="cancelmodalTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Are You Sure?</h5>
                </div>
                <div class="modal-body">
                    Are you sure you want to cancel this reservation?<br>
                    <p class="font-weight-light">
                        Reservation ID: x <br>
                        Date Created: x
                    </p>
                    <p class=>*Beware that this action cannot be reversed*</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Go Back</button>
                    <button type="button" class="btn btn-primary">Cancel This Reservation</button>
                </div>
            </div>
        </div>
    </div>





    <div class="row">
        <div class="col-3">
            <img src="{% static 'img/reslogo.png' %}" class="d-block mx-auto" width="100" height="100"
                alt="reservation logo"><br />
            <h1 class="display-4 text-right mb-4">Reservation Menu</h1>
            <div class="nav flex-column nav-pills text-right" id="v-pills-tab" role="tablist"
                aria-orientation="vertical">
                <a class="nav-link active" id="actrestab" data-toggle="pill" href="#actres" role="tab"
                    aria-controls="actres" aria-selected="true">Active Reservations</a>
                <a class="nav-link" id="crerestab" data-toggle="pill" href="#creres" role="tab" aria-controls="creres"
                    aria-selected="false">Create Reservation</a>
                <a class="nav-link" id="canrestab" data-toggle="pill" href="#canres" role="tab" aria-controls="canres"
                    aria-selected="false">Cancel Reservation</a>
            </div>
        </div>

        <div class="container col-8">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="actres" role="tabpanel" aria-labelledby="actrestab">
                    <h4>Active Reservations: <h5 class="display-4 text-left mb-4">5</h5>
                    </h4>
                    <div class="row">
                        <div class="col-4">
                            <div class="card border-secondary mb-3">
                                <div class="card-header font-weight-bold">
                                    Reservation : 1
                                </div>
                                <div class="card-body">
                                    <p class="card-text text-justify">
                                        Hi, this is some basic info about our reservation. Such as rooms, tables,
                                        services included, start date, etc. Clicking this will take you to another page,
                                        where the date of this reservation will be shown.
                                    </p>
                                    <form class="form-inline">
                                        <a class="btn btn-primary mx-auto" href="#" role="button">
                                            View Details
                                        </a>
                                    </form>
                                </div>
                                <div class="card-footer font-weight-light">
                                    Date Created: 11 Jan, 2020
                                </div>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="card border-secondary mb-3">
                                <div class="card-header border-success">
                                    Reservation : 2
                                </div>
                                <div class="card-body">
                                    <p class="card-text text-justify">
                                        Hi, this is some basic info about our reservation. Such as rooms, tables,
                                        services included, start date, etc. Clicking this will take you to another page,
                                        where the date of this reservation will be shown.
                                    </p>
                                    <form class="form-inline">
                                        <a class="btn btn-dark mx-auto" href="#" role="button">
                                            View Details
                                        </a>
                                    </form>
                                </div>
                                <div class="card-footer border-success">
                                    Date Created: 11 Jan, 2020
                                </div>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="card border-secondary mb-3">
                                <div class="card-header border-success">
                                    Reservation : 3
                                </div>
                                <div class="card-body">
                                    <p class="card-text text-justify">
                                        Hi, this is some basic info about our reservation. Such as rooms, tables,
                                        services included, start date, etc. Clicking this will take you to another page,
                                        where the date of this reservation will be shown.
                                    </p>
                                    <form class="form-inline">
                                        <a class="btn btn-dark mx-auto" href="#" role="button">
                                            View Details
                                        </a>
                                    </form>
                                </div>
                                <div class="card-footer border-success">
                                    Date Created: 11 Jan, 2020
                                </div>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="card border-secondary mb-3">
                                <div class="card-header border-success">
                                    Reservation : 4
                                </div>
                                <div class="card-body">
                                    <p class="card-text text-justify">
                                        Hi, this is some basic info about our reservation. Such as rooms, tables,
                                        services included, start date, etc. Clicking this will take you to another page,
                                        where the date of this reservation will be shown.
                                    </p>
                                    <form class="form-inline">
                                        <a class="btn btn-dark mx-auto" href="#" role="button">
                                            View Details
                                        </a>
                                    </form>
                                </div>
                                <div class="card-footer border-success">
                                    Date Created: 11 Jan, 2020
                                </div>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="card border-secondary mb-3">
                                <div class="card-header border-success">
                                    Reservation : 5
                                </div>
                                <div class="card-body">
                                    <p class="card-text text-justify">
                                        Hi, this is some basic info about our reservation. Such as rooms, tables,
                                        services included, start date, etc. Clicking this will take you to another page,
                                        where the date of this reservation will be shown.
                                    </p>
                                    <form class="form-inline">
                                        <a class="btn btn-dark mx-auto" href="#" role="button">
                                            View Details
                                        </a>
                                    </form>
                                </div>
                                <div class="card-footer border-success">
                                    Date Created: 11 Jan, 2020
                                </div>
                            </div>
                        </div>

                    </div>

                </div>


                <div class="tab-pane fade" id="creres" role="tabpanel" aria-labelledby="crerestab">
                    <h2>অ দাদা, এখানে একটা ফর্ম বানিয়ে দাও না<br>এই ফর্ম দিয়ে যাতে আমরা রিজার্ভেশন বানাতে পারি!</h2>
                </div>


                <div class="tab-pane fade" id="canres" role="tabpanel" aria-labelledby="canrestab">
                    <h4>Cancellable Reservations: <h5 class="display-4 text-left mb-4">1</h5>
                    </h4>
                    <div class="row">
                        <div class="col-4">
                            <div class="card border-secondary mb-3">
                                <div class="card-header font-weight-bold">
                                    Reservation : 1
                                </div>
                                <div class="card-body">
                                    <p class="card-text text-justify">
                                        Hi, this is some basic info about our reservation. Such as rooms, tables,
                                        services included, start date, etc. Clicking this will take you to another page,
                                        where the date of this reservation will be shown.
                                    </p>
                                    <form class="form-inline">
                                        <a class="btn btn-primary text-white mx-auto" role="button" data-toggle="modal"
                                            data-target="#cancelmodal">
                                            Cancel
                                        </a>
                                    </form>
                                </div>
                                <div class="card-footer font-weight-light">
                                    Date Created: 11 Jan, 2020
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
</div>

{% endblock %}