{% extends 'starter.html' %}

{% block title %} Reservation: {{resid}} {% endblock %}

{% block style %} {% endblock %}

{%block navshow %}
{% with login=login %} {{block.super}} {% endwith %}
{%endblock navshow %}

{% block body %}
{% load static %}
{% include 'modal.html' with user=user %}

<div class="modal fade" id="cancelmodal" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="cancelmodalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Are You Sure?</h5>
            </div>
            <div class="modal-body">
                Are you sure you want to cancel this reservation?<br>
                <p class="font-weight-light">
                    Reservation ID: x <br>
                    Date Created: x
                </p>
                <p class=>*Beware that this action cannot be reversed*</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Dismiss</button>
                <button type="button" class="btn btn-primary">Cancel This Reservation</button>
            </div>
        </div>
    </div>
</div>

<h1>Reservation : {{resid}}</h1>Show only one reservation, and also cancellation from here

{% endblock %}