{% extends 'starter.html' %}

{% block title %} Reservation: {{resid}} {% endblock %}

{% block style %} {% endblock %}

{%block navshow %}
{% with login=login %} {{block.super}} {% endwith %}
{%endblock navshow %}

{% block body %}
{% load static %}
{% include 'modal.html' with user=user %}

<div class="modal fade" id="cancelmodal" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="cancelmodalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Are You Sure?</h5>
            </div>
            <div class="modal-body">
                Are you sure you want to cancel this reservation?<br>
                <p class="font-weight-light">
                    Reservation ID: {{resid}} <br>
                    Date Created: x
                </p>
                <p class=>*Beware that this action cannot be reversed*</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Dismiss</button>
                <button type="button" class="btn btn-primary">Cancel This Reservation</button>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-4 d-flex flex-column justify-content-center">
            <img src="{% static 'img/reslogo.png' %}" class="d-block mx-auto" width="100" height="100"
                alt="username"><br />
            <p class="text text-right display-4">Resrvation {{resid}}:<br>Details</p>
            <button type="button" class="btn btn-success">
                Active &#10004;
            </button>
            <button type="button" class="btn btn-danger">
                Inactive &#10060;
            </button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cancelmodal">
                Cancel This Reservation
            </button>
        </div>
        <div class="col-8">
            <p class="display-4">Reservation Information</p>
            <table class="table table-hover table-striped table-bordered w-20">
                <thead class="thead-dark text-center">
                    <tr>
                        <th scope="row" colspan="3">Basic Information</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row" colspan="2">Reservation ID</th>
                        <td>{{resid}}</td>
                    </tr>
                    <tr>
                        <th scope="row" colspan="2">Number of Guests</th>
                        <td>6 people</td>
                    </tr>
                    <tr>
                        <th scope="row" rowspan="2" style="vertical-align : middle;">Date</th>
                        <th scope="row">Arrival Date</th>
                        <td>1 january, 2020</td>
                    </tr>
                    <tr>
                        <th scope="row">Departure Date</th>
                        <td>3 january, 2020</td>
                    </tr>
                </tbody>
                <thead class="thead-dark text-center">
                    <tr>
                        <th scope="row" colspan="3">Rooms Included</th>
                    </tr>
                </thead>
                <thead class="thead-secondary text-center">
                    <tr>
                        <th scope="row">Room No.</th>
                        <th scope="row" colspan="2">Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>101</th>
                        <td colspan="2">floor: 3, building: 5, Capacity : 4</td>
                    </tr>
                    <tr>
                        <td>101</th>
                        <td colspan="2">floor: 3, building: 5, Capacity : 4</td>
                    </tr>
                    <tr>
                        <td>101</th>
                        <td colspan="2">floor: 3, building: 5, Capacity : 4</td>
                    </tr>
                </tbody>
                <thead class="thead-dark text-center">
                    <tr>
                        <th scope="row" colspan="3">Services Taken</th>
                    </tr>
                </thead>
                <thead class="thead-secondary text-center">
                    <tr>
                        <th scope="row">Service No.</th>
                        <th scope="row" colspan="2">Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>5</th>
                        <td colspan="2">Laundry</td>
                    </tr>
                    <tr>
                        <td>3</th>
                        <td colspan="2">Food</td>
                    </tr>
                    <tr>
                        <td>8</th>
                        <td colspan="2">Cleaning</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}