{% extends 'starter.html' %}

{% block title %} Services Management {% endblock %}

{% block style %} {% endblock %}

{%block navshow %}
{% with login=login %} {{block.super}} {% endwith %}
{%endblock navshow %}

{% block body %}
{% load static %}
{% include 'modal.html' with user=user %}

<div class="container-fluid my-4">

    <div class="row">
        <div class="col-3 d-flex flex-column">
            <img src="{% static 'img/serlogo.png' %}" class="d-block mx-auto" width="150" height="150"
                alt="service logo"><br />

            {% if user.role == 'customer' %}
            <h1 class="display-4 text-center mb-4">User History Page</h1>
            {% else %}
            <h1 class="display-4 text-center mb-4">Service Management</h1>
            {% endif %}

            {% if user.role == 'customer' or user.role == 'manager' or user.role == 'director' %}
            <form class="form d-flex flex-column">
                <a class="btn btn-primary text-white my-2" role="button" href="{% if user.role == 'customer' %}{{ HTTP_HOST }}/customer/history/0/{% else %}{{ HTTP_HOST }}/employee/resmanage/0/{% endif %}">
                    <i>Switch mode:</i> Reservations History
                </a>
            </form>
            <button type="button" class="btn btn-success active my-2">
                <i>Currently viewing:</i> Services History
            </button>
            {% endif %}

            <p class="mt-5 text-center"><b><u><i>Filters:</i></u></b></p>
            
            <form action="{% if user.role == 'customer' %}{{ HTTP_HOST }}/customer/history/3/{% else %}{{ HTTP_HOST }}/employee/servmanage/1/{% endif %}"
                method='post' class="needs-validation my-4 container" novalidate>
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-12 mb-3">
                        <label for="datearr">Start Date</label>
                        <input type="date" name="servdate" class="form-control" id="dateserv" required>
                        <div class="invalid-feedback">
                            Please provide a valid date.
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-12">
                        <label for="sertype">Service Type</label>
                        <select class="form-control" name="sertype" id="sertype">
                            <option>All</option>
                            <option>Active</option>
                            <option>Cancelled</option>
                            <option>Completed</option>
                        </select>
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary mx-auto my-2 " type="submit">Search</button>
                </div>
                
            </form>
        </div>
        <div class="col-8 container">
            <p class="display-4">List of All Services</p>
            <p><i class="text-secondary">{{msg}}</i></p>
            <table class="table table-hover table-striped table-bordered w-20">
                <thead class="thead-dark text-center">
                    <tr>
                        <th scope="row" colspan="6">Services found: {{data|length}}</th>
                    </tr>
                </thead>
                <thead class="thead-dark text-center">
                    <tr>
                        <th scope="row">Service ID</th>
                        <th scope="row">To Room</th>
                        <th scope="row">Bill ID</th>
                        <th scope="row">Created On</th>
                        <th scope="row">Status</th>
                        <th scope="row">View Details</th>
                    </tr>
                </thead>
                <tbody>
                    {% if data|length == 0 %}
                    <tr class=" text-center">
                        <td colspan="6"><i class="text-secondary">No Services To Show</i></td>
                    </tr>
                    {% else %}
                    {% for ser in data %}
                    <tr>
                        <td class="text-center">{{ser.servid}}</td>
                        <td class="text-center">{{ser.roomid}}</td>
                        <td class="text-center">{{ser.billid}}</td>
                        <td class="text-center">{{ser.servdate}}</td>
                        <td class="text-center table-{% if ser.isactive == 1 %}success{% elif ser.isactive == 2 %}danger{% else %}info{% endif %}">
                            {% if ser.isactive == 1 %}Active
                            {% elif ser.isactive == 2 %}Cancelled
                            {% else %}Completed
                            {% endif %}

                        </td>
                        <td class="text-center">
                            <form class="form-inline">
                                <a class="btn btn-primary text-white mx-auto" role="button"
                                    href="{{ HTTP_HOST }}/service/{{ser.actionid}}/">
                                    ServID:{{ser.servid}} Details
                                </a>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}