{% extends 'starter.html' %}

{% block title %} Services Management {% endblock %}

{% block style %} {% endblock %}

{%block navshow %}
{% with login=login %} {{block.super}} {% endwith %}
{%endblock navshow %}

{% block body %}
{% load static %}
{% include 'modal.html' with user=user %}

<div class="container-fluid my-4">

    <div class="row">
        <div class="col-3">
            <img src="{% static 'img/serlogo.png' %}" class="d-block mx-auto" width="150" height="150"
                alt="reservation logo"><br />
            <h1 class="display-4 text-center mb-4">Service Management</h1>
        </div>
        <div class="col-8 container">
            <p class="display-4">List of All Services</p>
            <table class="table table-hover table-striped table-bordered w-20">
                <thead class="thead-dark text-center">
                    <tr>
                        <th scope="row">Service ID</th>
                        <th scope="row">To Room</th>
                        <th scope="row">Bill ID</th>
                        <th scope="row">Active/Inactive</th>
                        <th scope="row">View Details</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ser in data %}
                    <tr>
                        <td class="text-center">{{ser.servid}}</td>
                        <td class="text-center">{{ser.roomid}}</td>
                        <td class="text-center">{{ser.billid}}</td>
                        <td class="text-center table-{% if ser.isactive == 1 %}success{% else %}danger{% endif %}">{% if ser.isactive == 1 %}Active{% else %}Inactive{% endif %}</td>
                        <td class="text-center">
                            <form class="form-inline">
                                <a class="btn btn-primary text-white mx-auto" role="button"
                                    href="{{ HTTP_HOST }}/service/{{ser.actionid}}/">
                                    ServID:{{ser.servid}} Details
                                </a>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}