{% extends 'starter.html' %}

{% block title %} Services Management {% endblock %}

{% block style %} {% endblock %}

{%block navshow %}
{% with login=login %} {{block.super}} {% endwith %}
{%endblock navshow %}

{% block body %}
{% load static %}
{% include 'modal.html' with user=user %}

<div class="container-fluid my-4">

    <div class="row">
        <div class="col-3">
            <img src="{% static 'img/serlogo.png' %}" class="d-block mx-auto" width="150" height="150"
                alt="reservation logo"><br />
            <h1 class="display-4 text-right mb-4">Services<br>Menu</h1>
            <div class="nav flex-column nav-pills text-right" id="v-pills-tab" role="tablist"
                aria-orientation="vertical">
                <a class="nav-link active" id="actrestab" data-toggle="pill" href="#actres" role="tab"
                    aria-controls="actres" aria-selected="true">Active Services</a>
                <a class="nav-link" id="crerestab" data-toggle="pill" href="#creres" role="tab" aria-controls="creres"
                    aria-selected="false">Create New Service</a>
            </div>
        </div>

        <div class="container col-8">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="actres" role="tabpanel" aria-labelledby="actrestab">
                    <h4>Active Services: <h5 class="display-4 text-left mb-4">{{data|length}}</h5>
                    </h4>

                    <div class="row">
                        {% for servid in data %}
                        <div class="col-4">
                            <div class="card border-secondary mb-3">
                                <div class="card-header font-weight-bold">
                                    Service : {{servid}}
                                </div>
                                <div class="card-body">
                                    <p class="card-text text-justify">
                                        Hi, this is some basic info about our Service. Such as rooms, tables,
                                        services included, start date, etc. Clicking this will take you to another page,
                                        where the date of this Service will be shown.
                                    </p>
                                    <form class="form-inline">
                                        <a class="btn btn-primary text-white mx-auto" role="button"
                                            href="{{ HTTP_HOST }}/service/{{servid}}/">
                                            View Details
                                        </a>
                                    </form>
                                </div>
                                <div class="card-footer font-weight-light">
                                    Date Created: 11 Jan, 2020
                                </div>
                            </div>
                        </div>
                        {% endfor %}


                    </div>
                </div>


                <div class="tab-pane fade" id="creres" role="tabpanel" aria-labelledby="crerestab">
                    {% if service %}

                    <div class="alert alert-danger alert-dismissible fade show mb-0" role="alert">

                        <strong>This Service can't be provided Now.</strong>No of choosen guests is more than the
                        capacity.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    {% else %}
                    <div class="alert alert-primary alert-dismissible fade show mb-0" role="alert">

                        <strong>Please fill up the form.</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endif %}



                    <div class="container text-center">
                        <img class="mb-4" src="{% static 'img/logo.png' %}" alt="" width="72" height="72">


                        <h3>
                            Room Reservation Form
                        </h3>

                        <p>------------------------------</p>
                    </div>

                    <!--form section-->
                    <form action='{{ HTTP_HOST }}/signsuccess/' method='post' class="needs-validation my-4 container"
                        novalidate>
                        {% csrf_token %}


                        <div class="form-row">

                            <div class="col-md-6 mb-6">
                                <label for="exampleFormControlSelect1">Service Type</label>
                                <select class="form-control" name="room_t" id="exampleFormControlSelect1000000"
                                    required>
                                    <option>Food Service</option>
                                    <option>Laundry Service</option>
                                    <option>Cleainging Service</option>
                                </select>
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="validationCustom01">Service Description</label>
                                <input type="text" name='workd' class="form-control" id="validationCustom0000001"
                                    maxlength="256" required>
                            </div>
                        </div>

                        <!-- <button class="btn btn-primary" type="submit">Expense Entry</button> -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                            Confirm Service
                        </button>

                        <!-- Modal -->
                        <div class="modal fade container justify-content-center col-3" id="exampleModal" tabindex="-1"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header bg-warning">
                                        <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        ...
                                    </div>
                                    <div class="modal-footer container justify-content-center col-5">
                                        <button type="submit" class="btn btn-primary">YES</button>
                                        <button type="submit" class="btn btn-secondary" data-dismiss="modal">NO</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <script>
                        // Example starter JavaScript for disabling form submissions if there are invalid fields
                        (function () {
                            'use strict';
                            window.addEventListener('load', function () {
                                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                                var forms = document.getElementsByClassName('needs-validation');
                                // Loop over them and prevent submission
                                var validation = Array.prototype.filter.call(forms, function (form) {
                                    form.addEventListener('submit', function (event) {
                                        if (form.checkValidity() === false) {
                                            event.preventDefault();
                                            event.stopPropagation();
                                        }
                                        form.classList.add('was-validated');
                                    }, false);
                                });
                            }, false);
                        })();
                    </script>
                    {% endblock %}
                </div>


            </div>
        </div>

    </div>
</div>

{% endblock %}