{% extends 'starter.html' %}

{% block title %} Service: {{servid}} {% endblock %}

{% block style %} {% endblock %}

{%block navshow %}
{% with login=login %} {{block.super}} {% endwith %}
{%endblock navshow %}

{% block body %}
{% load static %}
{% include 'modal.html' with user=user %}
<form action='{{ HTTP_HOST }}/service/ca_serve{{service.servid}}/' method='post' class="needs-validation my-4 container"
    novalidate>
    {% csrf_token %}
    <div class="modal fade" id="cancelmodal" data-backdrop="static" tabindex="-1" role="dialog"
        aria-labelledby="cancelmodalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Are You Sure?</h5>
                </div>
                <div class="modal-body">
                    Are you sure you want to cancel this service?<br>
                    <p class="font-weight-light">
                        Service ID: {{service.serviceid}} <br>
                        Assigned to: {{service.empname}}
                    </p>
                    <p class=>*Beware that this action cannot be reversed*</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Dismiss</button>
                    <button type="submit class=" btn btn-primary">Cancel This Service</button>
                </div>
            </div>
        </div>
    </div>
</form>


<div class="container-fluid">
    <div class="row">
        <div class="col-3 d-flex flex-column justify-content-center">
            <img src="{% static 'img/reslogo.png' %}" class="d-block mx-auto my-2" width="150" height="150"
                alt="username"><br />
            <p class="text text-center display-4">Service {{service.servid}} : Details</p>
            
            
            {% if service.isactive %}
            <button type="button" class="btn btn-info  my-2">
                Pending &#9711;
            </button>
            <button type="button" class="btn btn-primary  my-2" data-toggle="modal" data-target="#cancelmodal">
                Cancel This Service
            </button>
            {% else %}
            <button type="button" class="btn btn-success my-2">
                Completed &#10004;
            </button>
            {% endif %}
            
        </div>
        <div class="container col-8">
            <p class="display-4">Service Information</p>
            <table class="table table-hover table-striped table-bordered w-20">
                <thead class="thead-dark text-center">
                    <tr>
                        <th scope="row" colspan="3">Service Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Service ID</th>
                        <td colspan="2">{{service.servid}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Name</th>
                        <td colspan="2">{{service.name}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Cost</th>
                        <td colspan="2">BDT {{service.cost}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Description</th>
                        <td colspan="2">{{service.description}}</td>
                    </tr>
                    
                </tbody>
                <thead class="thead-dark text-center">
                    <tr>
                        <th scope="row" colspan="3">Service Execution Information</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Assigned to Room</th>
                        <td colspan="2">{{service.roomid}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Employee Assigned</th>
                        <td colspan="2">{{service.empname}} (Employee ID: {{service.empid}})</td>
                    </tr>
                    <tr>
                        <th scope="row">Billed to Bill ID</th>
                        <td colspan="2">{{service.empid}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}