{% extends 'starter.html' %}

{% block title %} Services Management {% endblock %}

{% block style %} {% endblock %}

{%block navshow %}
{% with login=login %} {{block.super}} {% endwith %}
{%endblock navshow %}

{% block body %}
{% load static %}
{% include 'modal.html' with user=user %}

<h1>Employee Attendance</h1>this is a employee attendance page....

<p>This page receives data of only one employee (whose attendance has to be registered) in the following manner</p>
<p>{data.empid} : {{data.empid}}</p>
<p>{data.name} : {{data.name}}</p>
<p>{data.position} : {{data.position}}</p>
<p>{data.prevsal} : {{data.prevsal}}</p>
<p>{data.workdesc} : {{data.workdesc}}</p>

{% endblock %}