{% extends 'starter.html' %}

{% block title %} signup {% endblock %}

{% block style %} {% endblock %}

{%block navshows %}
{%block navshow %}
{% with login=login %} {{block.super}} {% endwith %}
{%endblock navshow %}
{%endblock navshows %}


{% block body %}
{% load static %}
{% if ementry %}
{% include 'modal.html' with user=user %}
{% endif %}

{% if sign %}
<div class="alert alert-primary alert-dismissible fade show mb-0" role="alert">

    <strong>Please fill up the form.</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% else %}
<div class="alert alert-danger alert-dismissible fade show mb-0" role="alert">
    <strong>Signup Unsuccessful!</strong> Please recheck your password.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}


<div class="container text-center">
    <img class="mb-4" src="{% static 'img/logo.png' %}" alt="" width="72" height="72">

    
    <h3>
        Edit Employee Profile
    </h3>

    <p>------------------------------</p>
</div>

<!--form section-->
<form action='{{ HTTP_HOST }}/signsuccess/' method='post' class="needs-validation my-4 container" novalidate>
    {% csrf_token %}
    <div class = "dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Name change
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <div class="dropdown-item">
                <div class="form-row ">
                    <div class="col-md-3 mb-3">
                        <label for="exampleFormControlSelect1">Working Position Change</label>
                        <select class="form-control" name="position" id="exampleFormControlSelect1">
                            <option>WAITER</option>
                            <option>ACCOUNTANT</option>
                            <option>LAUNDRY SERVICER</option>
                            <option>FOOD DELIVARY MAN</option>
                            <option>MANAGER</option>
                            <option>HE HE! BOLBO NA</option>
                        </select>
                    </div>
            
                    <div class="col-md-3 mb-3">
                        <label for="validationCustom02">SALARY CHANGE</label>
                        <input type="number" name='salary' class="form-control" id="validationCustom116" required>
            
                    </div>
                </div>
    
            </div>
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Confirm Change</button>
    {% endif %}
</form>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
{% endblock %}