{% extends 'starter.html' %}

{% block title %} signup {% endblock %}

{% block style %} {% endblock %}

{%block navshows %}
{%block navshow %}
{% with login=login %} {{block.super}} {% endwith %}
{%endblock navshow %}
{%endblock navshows %}


{% block body %}
{% load static %}
{% include 'modal.html' with user=user %}
{% if ementry %}

{% endif %}


<div class="container-fluid my-4">
    <div class="row">
        <div class="col-3 d-flex flex-column">
            <img class="d-block mx-auto" src="{% static 'img/emp.png' %}" alt="" width="150" height="150">
            <h1 class="display-4 text-center">Edit Work Description</h1>
        </div>

        <div class="col-8 container">
            
            
            <div class="alert alert-primary alert-dismissible fade show mb-0" role="alert">
                <strong>Please fill up the form.</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>



            <h1 class="display-4">Edit Work Description of:</h1>
            <h2 class="lead text-center mb-4">{{data.name}} <i>(Employee ID: {{data.empid}})</i></h2>
            <form action='{{ HTTP_HOST }}/employee/empprochange/{{data.empid}}/' method='post' class="needs-validation my-4" novalidate>
                {% csrf_token %}
                <div class="form-row ">
                    <div class="col-md-5 mb-3">
                        <label for="validationCustom02">Employee ID</label>
                        <input type="number" readonly name='id' class="form-control" id="validationCustom110000"
                            value="{{data.empid}}" required>
                    </div>

                    <div class="col-md-7 mb-3">
                        <label for="exampleFormControlSelect1">Change Position: <i class="text-secondary">(previous
                                position: {{data.position}})</i></label>
                        <select class="form-control" name="poschange" id="exampleFormControlSelect1">
                            <option>No change</option>
                            {% if data.position != 'Manager' %}
                            <option>Food Service</option>
                            <option>Laundry Service</option>
                            <option>Cleaning Service</option>
                            {% endif %}
                            <option>Manager</option>
                        </select>
                    </div>

                    <div class="col-md-5 mb-3">
                        <label for="validationCustom02">New Salary</label>
                        <input type="number" name='salary' placeholder="Previous Salary: {{data.prevsal}}"
                            class="form-control" id="validationCustom116" min = '0'>
                    </div>

                    <div class="col-md-12 mb-3">
                        <label for="validationCustom02">New Work Description</label>
                        <input type="text" name='workd' placeholder="Previous description: {{data.workdesc}}"
                            class="form-control" id="validationCustom117" >
                    </div>

                </div>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Confirm Change
                </button>
            
                <!-- Modal -->
                <div class="modal fade container justify-content-center col-3" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header bg-warning">
                                <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Change Employee Work Data for Employee : {{data.empid}}
                            </div>
                            <div class="modal-footer container justify-content-center col-5">
                                <button type="submit" class="btn btn-primary">Confirm</button>
                                <button type="submit" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>




    


<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
{% endblock %}