{% extends 'starter.html' %}

{% block title %} signup {% endblock %}

{% block style %} {% endblock %}

{%block navshows %}
{%block navshow %}
{% with login=login %} {{block.super}} {% endwith %}
{%endblock navshow %}
{%endblock navshows %}


{% block body %}
{% load static %}
{% include 'modal.html' with user=user %}


<div class="container-fluid my-4">

    <div class="row">
        <div class="col-3">
            <img src="{% static 'img/emp.png' %}" class="d-block mx-auto" width="150" height="150"
                alt="reservation logo"><br />
            <h1 class="display-4 text-center mb-4">Employee Management List</h1>

            <form class="form d-flex flex-column">
                <a class="btn btn-primary text-white my-2" role="button" href="{{ HTTP_HOST }}/signup/">
                    Register a New Employee
                </a>
            </form>

            <p class="mt-5 text-center"><b><u><i>Advanced Search:</i></u></b></p>
            
            <form action="{% if user.role == 'customer' %}{{ HTTP_HOST }}/customer/history/3/{% else %}{{ HTTP_HOST }}/employee/empmanage/1/{% endif %}"
                method='post' class="needs-validation my-4 container" novalidate>
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-12 my-3">
                        <label for="validationCustom02">Employee ID</label>
                        <input type="number" name='empid' placeholder="Ex: 10001"
                            class="form-control" id="validationCustom116" min = '0'>
                    </div>
                    <div class="form-group col-12">
                        <label for="emptype">Employee Position</label>
                        <select class="form-control" name="emptype" id="emptype">
                            <option>All</option>
                            <option>Food Service</option>
                            <option>Laundry Service</option>
                            <option>Cleaning Service</option>
                            <option>Manager</option>
                        </select>
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary mx-auto my-2 " type="submit">Search</button>
                </div>
                
            </form>

        </div>
        <div class="col-8 container">
            <p class="display-4">List of All Employees Managed</p>
            <p><i class="text-secondary">{{msg}}</i></p>
            <table class="table table-hover table-striped table-bordered w-20">
                <thead class="thead-dark text-center">
                    <tr>
                        <th scope="row" colspan="4">Employees Found: {{employees|length}}</th>
                    </tr>
                </thead>
                <thead class="thead-dark text-center">
                    <tr>
                        <th scope="row">User ID</th>
                        <th scope="row">First Name</th>
                        <th scope="row">Position</th>
                        <th scope="row">View Details</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    {% if employees|length > 0 %}
                    {% for employee in employees %}
                    <tr>
                        <td>{{employee.user_id}}</td>
                        <td>{{employee.name}}</td>
                        <td>{{employee.position}}</td>
                        <td class="text-center">
                            <form class="form-inline">
                                <a class="btn btn-primary text-white mx-auto" role="button"
                                href="{{ HTTP_HOST }}/employee/profile/{{employee.user_id}}/">
                                    View Details
                                </a>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr class="text-center">
                        <td colspan="4"> <i class="text-secondary">No employees managed by you</i></td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- <div class="container text-center">
    <img class="mb-4" src="{% static 'img/logo.png' %}" alt="" width="72" height="72">


    <h3>
        Employee Management List
    </h3>

    <p>------------------------------</p>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">User Id</th>
                <th scope="col">First Name</th>
                <th scope="col">Position</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
            <tr>
                <th scope="row">#</th>
                <td>{{employee.user_id}}</td>
                <td>{{employee.first_name}}</td>
                <td>{{employee.position}}</td>
                <td>
                    <a class="btn btn-primary" href="{{ HTTP_HOST }}/employee/empdetails/{{employee.user_id}}/"
                        role="button">View Details</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>




</div> -->


<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
{% endblock %}