{% extends 'starter.html' %}

{% block title %} signup {% endblock %}

{% block style %} {% endblock %}

{%block navshows %}
{%block navshow %}
{% with login=login %} {{block.super}} {% endwith %}
{%endblock navshow %}
{%endblock navshows %}


{% block body %}
{% load static %}
{% include 'modal.html' with user=user %}



<div class="container text-center">
    <img class="mb-4" src="{% static 'img/logo.png' %}" alt="" width="72" height="72">


    <h3>
        Employee Management List
    </h3>

    <p>------------------------------</p>

    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">User Id</th>
            <th scope="col">First Name</th>
            <th scope="col">Position</th>
          </tr>
        </thead>
        <tbody>
          {% for employee in employees %}
                <tr>
                    <th scope="row">#</th>
                    <td>{{employee.user_id}}</td>
                    <td>{{employee.first_name}}</td>
                    <td>{{employee.position}}</td>
                    <td>
                        <a class="btn btn-primary" href="{{ HTTP_HOST }}/employee/empdetails/{{employee.user_id}}/" role="button">View Details</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
      </table>




</div>


<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
{% endblock %}