{% extends 'starter.html' %}

{% block title %} Employee Profile {% endblock %}

{% block style %}
td {
white-space: normal !important;
word-wrap: break-word;
}
{% endblock %}

{%block navshow %}
{% with login=login %} {{block.super}} {% endwith %}
{%endblock navshow %}

{% block body %}
{% load static %}
{% include 'modal.html' with user=user %}


{% if epsuccess %}
<div class="alert alert-success alert-dismissible fade show mb-0" role="alert">
  <strong>Employee Profile Edir Successful.</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
  </button>

</div>
{% endif %}

<form action='#' method='post' class="needs-validation my-4 container" novalidate>
  {% csrf_token %}
  <div class="modal fade container justify-content-center col-3 " id="firemodal" tabindex="-1"
    aria-labelledby="firemodallabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header  bg-warning">
          <h5 class="modal-title " id="firemodallabel">Are you sure?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <b>Fire This Employee :</b> <br>
          Employee ID: {{allval.user_id}} <br>
          Employee Name : {{allval.name}} <br>
          Employee Position: {{allval.position}}
        </div>
        <div class="modal-footer container ">
          <button type="submit" class="btn btn-danger">Fire This Employee</button>
          <button type="submit" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="container-fluid my-4">
  <div class="row">
    <div class="col-3 d-flex flex-column">
      <img src="{% static 'img/user.png' %}" class="d-block mx-auto" width="250" height="250" alt="username"><br />
      <p class="text text-center display-4 mb-0 pb-0">{{allval.name}}</p>
      <p class="text text-center text-secondary">{{allval.email}}</p>
      {% if user.user_id == allval.user_id %}
      <form class="form d-flex flex-column">
        <a class="btn btn-primary text-white my-2" role="button" href="{{ HTTP_HOST }}/edition/{{allval.user_id}}/">
          Edit Account Info
        </a>
      </form>
      {% elif user.role == 'director' or user.user_id == allval.manager_id %}
      <form class="form d-flex flex-column">
        <a class="btn btn-primary text-white my-2" role="button"
          href="{{ HTTP_HOST }}/employee/empproedit/{{allval.user_id}}/">
          Edit Work Details
        </a>
      </form>
      <form class="form d-flex flex-column">
        <a class="btn btn-primary text-white my-2" role="button"
          href="{{ HTTP_HOST }}/employee/empsalary/{{allval.user_id}}/">
          Salary Payment
        </a>
      </form>
      <form class="form d-flex flex-column">
        <a class="btn btn-primary text-white my-2" role="button"
          href="{{ HTTP_HOST }}/employee/eattend/{{allval.user_id}}/">
          Employee Attendance
        </a>
      </form>
      {% if user.role == 'director' %}
      <button type="button" class="btn btn-danger my-2" data-toggle="modal" data-target="#firemodal">
        Fire This Employee
      </button>
      {% endif %}


      {% endif %}
    </div>
    <div class="col-8 container">
      <p class="display-4">Employee Information</p>
      <table class="table table-hover table-striped table-bordered w-20">
        <thead class="thead-dark text-center">
          <tr>
            <th scope="row" colspan="3">Basic Information</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" colspan="2">Name</th>
            <td>{{allval.name}}</td>
          </tr>
          {% for ph in allval.phone_nums %}
          <tr>
            {% if ph == allval.phone_nums.0 %} <th scope="row" colspan="2" rowspan="{{allval.phone_nums|length}}"
              style="vertical-align : middle;">Phone Number</th> {% endif %}
            <td>+880{{ph.phone_no}}</td>
          </tr>
          {% endfor %}
          <tr>
            <th scope="row" colspan="2">Email</th>
            <td>{{allval.email}}</td>
          </tr>
          <tr>
            <th scope="row" rowspan="4" style="vertical-align : middle;">Address</th>
            <th scope="row">House No.</th>
            <td>{{allval.house_no}}</td>
          </tr>
          <tr>
            <th scope="row">Road</th>
            <td>{{allval.road_no}}</td>
          </tr>
          <tr>
            <th scope="row">City</th>
            <td>{{allval.city}}</td>
          </tr>
          <tr>
            <th scope="row">Country</th>
            <td>{{allval.country}}</td>
          </tr>
        </tbody>
        <thead class="thead-dark text-center">
          <tr>
            <th scope="row" colspan="3">Work Credentials</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" colspan="2">User ID</th>
            <td>{{allval.user_id}}</td>
          </tr>
          <th scope="row" colspan="2">Salary</th>
          <td>{{allval.salary}}</td>
          </tr>
          <tr>
            <th scope="row" colspan="2">Position</th>
            <td>{{allval.position}}</td>
          </tr>
          <tr>
            <th scope="row" colspan="2">Manager ID</th>
            <td>{{allval.manager_id}}</td>
          </tr>
          <tr>
          <tr>
            <th scope="row" colspan="2">Work Description</th>
            <td>{{allval.work_description}}</td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}