{% extends 'starter.html' %}

{% block title %} Contact {% endblock %}

{% block style %} {% endblock %}

{%block navshow %}
{% with login=login %} {{block.super}} {% endwith %}
{%endblock navshow %}



{% block body %} 
{% load static %}
{% include 'modal.html' with user=user %}

<!-- welcome section -->
<div class="container-fluid my-5 px-5">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4">Contact Page</h1>
        </div>
        <div class="col">
            <hr>
        </div>
        <div class="col-12">
            <p class="lead text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
        </div>
    </div>
</div>
{% endblock %}
