{% extends 'starter.html' %}

{% block title %} Contact {% endblock %}

{% block style %} {% endblock %}

{%block navshow %}
{% with login=login %} {{block.super}} {% endwith %}
{%endblock navshow %}



{% block body %} 
{% load static %}
{% include 'modal.html' with user=user %}

<!-- welcome section -->
<div class="container-fluid my-5 px-5">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4">Contact Page</h1>
        </div>
        <div class="col">
            <hr>
        </div>
        <div class="col-12">
            <div class="row text-center">
            <div class="col-4">
                <hr style="color:white" />
                <img src="{% static 'img/logo.png' %}" class="mb-1 mt-0" height='70' width='70' alt="logo">
                <p>+880 000 000 000 0</p>
                <p>email@email.com</p>
                <p>100, street name</p>
            </div>
            <div class="col-4">
                <div class="col">
                    <hr>
                </div>
                <div class="col-auto h5">Office Hours</div>
                <div class="col">
                    <hr>
                </div>
                <p>Check In: 9am to 5 pm</p>
                <p>Check Out: 9am to 2 pm</p>
                <p>(Open Everyday)</p>
            </div>
            <div class="col-4">
                <hr style="color:white" />
                <p class="h5">Social Media</p>
                <hr style="color:white" />
                <p>Facebook</p>
                <p>LinkedIn</p>
                <p>Instagram</p>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}
