{% extends 'starter.html' %}

{% block title %} Hotel Expenses {% endblock %}

{% block style %} {% endblock %}

{%block navshows %}
{%block navshow %}
{% with login=login %} {{block.super}} {% endwith %}
{%endblock navshow %}
{%endblock navshows %}


{% block body %}
{% load static %}

{% include 'modal.html' with user=user %}
{% if deletu %}
<div class="alert alert-success alert-dismissible fade show mb-0" role="alert">
    <strong>Account Deletion Unsuccessfull!!</strong> Please clear all your reservations.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

<div class="container text-center">
    <img class="mb-4" src="{% static 'img/logo.png' %}" alt="" width="72" height="72">


    <h3>
        Account Deletion
    </h3>

    <p>------------------------------</p>
</div>

<!--form section-->
<form action='{{ HTTP_HOST }}/delete/'  class="needs-validation my-4 container" novalidate>
    {% csrf_token %}

    <!-- <button class="btn btn-primary" type="submit">Expense Entry</button> -->
    <button type="button" class="btn btn-primary container justify-content-center col-0" data-toggle="modal"
        data-target="#exampleModal">
        Confirm Deletion Of your Account
    </button>

    <!-- Modal -->
    <div class="modal fade container justify-content-center col-3" id="exampleModal" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-warning">
                    <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% if employee %}
                    Are you sure that you want to leave your Job? This action can't be reversed.
                    {% else %}
                    Are you sure that you want to delete your account? This action can't be reversed.
                    {% endif %}
                </div>
                <div class="modal-footer container justify-content-center col-5">
                    <button type="submit" class="btn btn-primary">YES</button>
                    <button type="submit" class="btn btn-secondary" data-dismiss="modal">NO</button>

                </div>
            </div>
        </div>
    </div>
</form>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
{% endblock %}