{% extends 'starter.html' %}

{% block title %} signup {% endblock %}

{% block style %} {% endblock %}

{%block navshows %}
{%block navshow %}
{% with login=login %} {{block.super}} {% endwith %}
{%endblock navshow %}
{%endblock navshows %}


{% block body %}
{% load static %}
{% include 'modal.html' with user=user %}
{% if ementry %}

{% endif %}

{% if sign %}
<div class="alert alert-primary alert-dismissible fade show mb-0" role="alert">

    <strong>Please fill up the form.</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% else %}
<div class="alert alert-danger alert-dismissible fade show mb-0" role="alert">
    <strong>Signup Unsuccessful!</strong> Please recheck your password.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}


<div class="container text-center">
    <img class="mb-4" src="{% static 'img/logo.png' %}" alt="" width="72" height="72">

    
    <h3>
        Edit Profile
    </h3>

    <p>------------------------------</p>
</div>

<!--form section-->
<form action='{{ HTTP_HOST }}/signsuccess/' method='post' class="needs-validation my-4 container" novalidate>
    {% csrf_token %}
    <div class = "dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Name change
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <div class="dropdown-item">
                <div class="form-row ">
                    <div class="col-md-6 mb-3">
                        <label for="validationCustom01">First name</label>
                        <input type="text" class="form-control" name='user' id="validationCustom01" value="Mark" >
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
            
                    <div class="col-md-6 mb-3">
                        <label for="validationCustom02">Last name</label>
                        <input type="text" class="form-control" name='lastn' id="validationCustom02" value="Otto" >
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
    </div>



    <div class = "dropdown my-3">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Password change
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <div class="dropdown-item">
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="validationCustom04">New Password</label>
                        <input type="password" name='pass' class="form-control" id="validationCustom03" >
                        <div class="invalid-feedback">
                            Please select a valid password.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="validationCustom05">Rewrite Password</label>
                        <input type="password" name='repass' class="form-control" id="validationCustom04" >
                        <div class="invalid-feedback">
                            Please confirm your password.
                        </div>
                    </div>
            
            
                </div>
    
            </div>
        </div>
    </div>

    <div class = "dropdown my-3">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Address change
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <div class="dropdown-item">
                <div class="form-row">
            
                    <div class="col-md-3 mb-3">
                        <label for="validationCustom02">House No</label>
                        <input type="text" name='house' class="form-control" id="validationCustom06">
            
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="validationCustom02">Road No</label>
                        <input type="text" name='road' class="form-control" id="validationCustom07">
            
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="validationCustom03">City</label>
                        <input type="text" name='city' class="form-control" id="validationCustom12">
                        <div class="invalid-feedback">
                            Please provide a valid city.
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="validationCustom04">Country</label>
                        <input type="text" name='country' class="form-control" id="validationCustom13">
                        <div class="invalid-feedback">
                            Please provide a valid Country.
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
    </div>
    <div class = "dropdown my-3">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Contact Information change
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <div class="dropdown-item">
                <div class="form-row">
                    <div class="col-md-12 mb-6">
                        <label for="validationCustom01"> New Phone number</label>
                        <input type="text" name='phnumber' class="form-control" id="validationCustom08" >
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    
    

    

    <div class="form-row">
        
        

    </div>

    

    {% if manager %}
    <div class="form-row">
        <div class="col-md-3 mb-3">
            <label for="exampleFormControlSelect1">Employee Position</label>
            <select class="form-control" name="position" id="exampleFormControlSelect1">
                <option>WAITER</option>
                <option>ACCOUNTANT</option>
                <option>LAUNDRY SERVICER</option>
                <option>FOOD DELIVARY MAN</option>
                <option>HE HE! BOLBO NA</option>
            </select>
        </div>
        <div class="col-md-3 mb-3">
            <label for="exampleFormControlSelect1">Permission</label>
            <select class="form-control" name="permission" id="exampleFormControlSelect2">
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select>
        </div>
        <div class="col-md-3 mb-3">
            <label for="validationCustom02">Base Salary</label>
            <input type="number" name='salary' class="form-control" id="validationCustom116">

        </div>
        <div class="col-md-12 mb-3">
            <label for="validationCustom01">Work Description</label>
            <input type="text" name='workd' class="form-control" id="validationCustom18" >
        </div>

        <button class="btn btn-primary mb-2" type="submit">Confirm Employee.</button>
    </div>
    


    {% else %}
    <div class = "dropdown ">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Others Information change
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <div class="dropdown-item">
                <div class="form-row">
                    <div class="col-md-3 mb-3">
                        <label for="validationCustom02">Id card no</label>
                        <input type="number" name='idcard' class="form-control" id="validationCustom09">
            
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="validationCustom02">credit card no</label>
                        <input type="number" name='creditcard' class="form-control" id="validationCustom10">
            
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="validationCustom02">passport no</label>
                        <input type="number" name='passport' class="form-control" id="validationCustom11">
            
                    </div>
            
                </div>
            </div>
        </div>
    </div>
    

    <div class="form-group">

    </div>
    <button class="btn btn-primary" type="submit">Confirm Change</button>
    {% endif %}
</form>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
{% endblock %}