{% extends 'starter.html' %}

{% block title %} Edit Profile {% endblock %}

{% block style %} {% endblock %}

{%block navshows %}
{%block navshow %}
{% with login=login %} {{block.super}} {% endwith %}
{%endblock navshow %}
{%endblock navshows %}


{% block body %}
{% load static %}
{% include 'modal.html' with user=user %}
{% if ementry %}

{% endif %}

{% if unsuccess %}
<div class="alert alert-danger alert-dismissible fade show mb-0" role="alert">
    <strong>Profile Edit Unsuccessful!</strong> Please recheck your password.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>

</div>
{% elif success %}
<div class="alert alert-success alert-dismissible fade show mb-0" role="alert">
    <strong>Profile Edit Successful!</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>

</div>

{% else %}
<div class="alert alert-primary alert-dismissible fade show mb-0" role="alert">

    <strong>Please fill up the form.</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}


<div class="container-fluid my-4">
    <div class="row">
        <!-- justify-content-center -->
        <div class="col-3 container">
            <img src="{% static 'img/blankuser.png' %}" class="d-block mx-auto my-2" width="150" height="150"
                alt="username"><br />
            <p class="text text-center display-4">Edit Profile Menu</p>


        </div>
        <div class=" col-8 container">
            <p class="display-4">Edit Options</p>
            <!--form section-->

            <form action='{{ HTTP_HOST }}/editform/' method='post' class="needs-validation " novalidate>
                {% csrf_token %}
                <div class="col-4 mb-3">
                    <label for="validationCustom01"><b>Old Password</b></label>
                    <input type="password" class="form-control" name='oldpass' id="NPASS" required>
                    <div class="invalid-feedback">
                        Please provide your old pass.
                    </div>

                </div>
                <div class="dropdown col-6">
                    <button class="btn btn-secondary col-6 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Name change
                        </button>
                    <div class="dropdown-menu col-12" aria-labelledby="dropdownMenuButton">
                        <div class="dropdown-item">
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="validationCustom01">First name</label>
                                    <input type="text" class="form-control" name='fname' id="nfname">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>

                                <div class="col-md-6 mb-3">
                                    <label for="validationCustom02">Last name</label>
                                    <input type="text" class="form-control" name='lname' id="nlname">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>



                <div class="dropdown my-3 col-6">
                    <button class="btn btn-secondary col-6 dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Password change
                    </button>
                    <div class="dropdown-menu col-12" aria-labelledby="dropdownMenuButton">
                        <div class="dropdown-item">
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="validationCustom04">New Password</label>
                                    <input type="password" name='pass' class="form-control" id="npass">
                                    <div class="invalid-feedback">
                                        Please select a valid password.
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="validationCustom05">Rewrite Password</label>
                                    <input type="password" name='repass' class="form-control" id="rnpass">
                                    <div class="invalid-feedback">
                                        Please confirm your password.
                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>
                </div>

                <div class="dropdown my-3 col-6">
                    <button class="btn btn-secondary col-6 dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Address change
                    </button>
                    <div class="dropdown-menu col-12" aria-labelledby="dropdownMenuButton">
                        <div class="dropdown-item">
                            <div class="form-row">

                                <div class="col-md-6 mb-3">
                                    <label for="validationCustom02">House No</label>
                                    <input type="text" name='house' class="form-control" id="nhouse">

                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="validationCustom02">Road No</label>
                                    <input type="text" name='road' class="form-control" id="nroad">

                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="validationCustom03">City</label>
                                    <input type="text" name='city' class="form-control" id="ncity">
                                    <div class="invalid-feedback">
                                        Please provide a valid city.
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="validationCustom04">Country</label>
                                    <input type="text" name='country' class="form-control" id="ncountry">
                                    <div class="invalid-feedback">
                                        Please provide a valid Country.
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="dropdown my-3 col-6">
                    <button class="btn btn-secondary col-6 dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Contact Information change
                    </button>
                    <div class="dropdown-menu col-6" aria-labelledby="dropdownMenuButton">
                        <div class="dropdown-item">
                            <div class="form-row">
                                <div class="col-md-12 mb-6">
                                    <label for="validationCustom01"> New Phone number</label>
                                    <input type="text" name='phnumber1' class="form-control" id="nphone">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                {% if customer %}
                <div class="dropdown col-6">
                    <button class="btn btn-secondary col-6 dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Others Information change
                    </button>
                    <div class="dropdown-menu col-12" aria-labelledby="dropdownMenuButton">
                        <div class="dropdown-item">
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom02">Id card no</label>
                                    <input type="number" name='idcard' class="form-control" id="nicard">

                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom02">credit card no</label>
                                    <input type="number" name='creditcard' class="form-control" id="ncredit">

                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom02">passport no</label>
                                    <input type="number" name='passport' class="form-control" id="npassport">

                                </div>

                            </div>
                        </div>
                    </div>
                </div>


                {% endif %}


                <div class="col-6">
                    <button type="button" class="btn btn-primary col-6 my-3" data-toggle="modal" data-target="#exampleModal">
                        Confirm Change
                    </button>
                </div>

                <!-- Modal -->
                <div class="modal fade container justify-content-center col-3" id="exampleModal" tabindex="-1"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header bg-warning">
                                <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                                Are you sure that you want to change this information?

                            </div>
                            <div class="modal-footer container justify-content-center col-5">
                                <button type="submit" class="btn btn-primary">YES</button>
                                <button type="submit" class="btn btn-secondary" data-dismiss="modal">NO</button>

                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
{% endblock %}