{% load static %}
<!-- Modal -->
<style>
    .user-modal {
        position: absolute;
        top: 60px;
        right: 20px;
        width: 300px;
        overflow: auto;
        overflow-y: auto;
    }
</style>
<div class="modal fade" id="usermodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog user-modal">
        <div class="modal-content bg-dark text-light">
            <div class="modal-header d-block text-center my-0 pt-3 pb-0">
                <img src="{% static 'img/user.png' %}" height='60' width='60' alt=" user">
                <h5 class="modal-title" id="usermodal">{{user.username}}</h5>
                <p class="text-secondary">{{user.email}}</p>
            </div>
            <div class="modal-body m-0 p-0">
                <!-- <a class="text-light" href="#">Profile</a> <br>
                <a class="text-light" href="#">Reservations</a> <br>
                <a class="text-light" href="#">User History</a><br>
                <a class="text-light" href="#">Services</a><br>
                <a class="text-light" href="#">Complaint</a><br> -->
                <table class="table table-sm table-dark w-100 m-0 p-0 table-hover">
                    <tbody class="text-center">
                        {% if user.role == "customer" %}
                        <tr>
                            <td><a href="{{ HTTP_HOST }}/customer/profile/" class="text-light">Profile</a></td>
                        </tr>
                        <tr>
                            <td><a href="{{ HTTP_HOST }}/customer/reservations/" class="text-light">Reservations</a>
                            </td>
                        </tr>
                        <tr>
                            <td><a href="{{ HTTP_HOST }}/customer/services/" class="text-light">Services</a></td>
                        </tr>
                        <tr>
                            <td><a href="{{ HTTP_HOST }}/customer/history/0/" class="text-light">User History</a></td>
                        </tr>
                        <tr>
                            <td><a href="{{ HTTP_HOST }}/customer/complain/" class="text-light">Complain</a></td>
                        </tr>

                        {% else %}
                        <tr>
                            <td>
                                <a href="{{ HTTP_HOST }}/employee/profile/{{user.user_id}}/"
                                    class="text-light">Profile</a>
                            </td>
                        </tr>

                        {% if user.role == "employee" %}
                        <tr>
                            <td><a href="{{ HTTP_HOST }}/employee/servmanage/0/" class="text-light">Manage Services</a>
                            </td>
                        </tr>
                        <tr>
                            <td><a href="{{ HTTP_HOST }}/employee/workh/0/" class="text-light">Work History</a></td>
                        </tr>
                        {% endif %}

                        {% if user.role == "manager" or user.role == "director" %}
                        <tr>
                            <td><a href="{{ HTTP_HOST }}/employee/resmanage/0/" class="text-light">Reservation & Services Management</a>
                            </td>
                        </tr>
                        <tr>
                            <td><a href="{{ HTTP_HOST }}/employee/empmanage/0/" class="text-light">Employee Management</a>
                            </td>
                        </tr>
                        <tr>
                            {%if user.ncount > 0 %}
                                <td><a href="{{ HTTP_HOST }}/employee/complain{{0}}/" class="text-danger font-weight-bold">Complaint Management</a>
                                    <p class = "text-warning mb-0">[you have {{user.ncount}} new complain]</p>
                                </td>
                            {% else %}
                                <td><a href="{{ HTTP_HOST }}/employee/complain{{0}}/" class="text-light">Complaint Management</a>
                                </td>
                            {% endif %}
                        </tr>

                        {% if user.role == "manager" %}
                        <tr>
                            <td><a href="{{ HTTP_HOST }}/employee/expense/" class="text-light">Hotel expenses entry</a>
                            </td>
                        </tr>
                        <tr>
                            <td><a href="{{ HTTP_HOST }}/employee/workh/0/" class="text-light">Work History</a></td>
                        </tr>
                        {% endif %}

                        {% if user.role == "director" %}
                        <tr>
                            <td><a href="{{ HTTP_HOST }}/employee/hoteloverview/0/" class="text-light">Hotel Overview</a>
                            </td>
                        </tr>
                        {% endif %}
                        {% endif %}
                        {% endif %}
                    </tbody>
                    
                </table>
            </div>
            <div class="modal-footer ">
                <form class="form-inline mx-auto">
                    <a class="btn btn-primary mx-auto" href="{{ HTTP_HOST }}/logout/" role="button">Log Out</a>
                </form>
            </div>
        </div>
    </div>
</div>