{% extends 'starter.html' %}

{% block title %} Room: {{room.roomid}} {% endblock %}

{% block style %} {% endblock %}

{%block navshow %}
{% with login=login %} {{block.super}} {% endwith %}
{%endblock navshow %}

{% block body %}
{% load static %}
{% include 'modal.html' with user=user %}


<div class="container-fluid">
    <div class="row">
        <div class="col-3 d-flex flex-column">
            <img src="{% static 'img/room.png' %}" class="d-block mx-auto my-4" width="150" height="150"
                alt="username"><br />
            <p class="text text-center display-4">Room {{room.roomid}}: Details</p>
            {% if room.reservation_id %}
            <button type="button" class="btn btn-danger my-3">
                Not Vacant &#10060;
            </button>
            {% else %}
            <button type="button" class="btn btn-success my-3">
                Vacant &#10004;
            </button>
            {% if user.role == "director" %}
            <button type="button" class="btn btn-danger mb-3" data-toggle="modal" data-target="#firemodal">
                Delete the Room
            </button>
            {% endif %}
            {% endif %}


        </div>
        <div class="container col-8">
            <p class="display-4 my-2">Room Information</p>
            <table class="table table-hover table-striped table-bordered w-20">
                <thead class="thead-dark text-center">
                    <tr>
                        <th scope="row" colspan="3">Basic Information</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row" colspan="2">Room ID</th>
                        <td>{{room.roomid}}</td>
                    </tr>

                    <tr>
                        <th scope="row" colspan="2">Room Type</th>
                        <td>{{room.type}}</td>
                    </tr>

                    <tr>
                        <th scope="row" colspan="2">Capacity</th>
                        <td>{{room.capacity}} people(s)</td>
                    </tr>

                    <tr>
                        <th scope="row" colspan="2">Air Conditioned</th>
                        <td>{% if room.ac == 1 %}Yes{% else %}No{% endif %}</td>
                    </tr>

                    <tr>
                        <th scope="row" colspan="2">Number of Beds</th>
                        <td>{{room.bed_no}}</td>
                    </tr>

                    <tr>
                        <th scope="row" colspan="2">Rent</th>
                        <td>TK. {{room.rent}}</td>
                    </tr>

                    <tr>
                        <th scope="row" colspan="2">Reservation ID</th>
                        <td>{% if room.reservation_id %}{{room.reservation_id}}{% else %}<i class="text-secondary">none
                                associated</i>{% endif %}</td>
                    </tr>

                </tbody>
                <thead class="thead-dark text-center">
                    <tr>
                        <th scope="row" colspan="3">Location of Room</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row" colspan="2">Floor</th>
                        <td>{{room.floor}}</td>
                    </tr>

                    <tr>
                        <th scope="row" colspan="2">Building</th>
                        <td>{{room.building}}</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

<form action='{{ HTTP_HOST }}/employee/roomdelete{{room.roomid}}/' method='post' class="needs-validation my-4 container"
    novalidate>
    {% csrf_token %}
    <div class="modal fade container justify-content-center col-3 " id="firemodal" tabindex="-1"
        aria-labelledby="firemodallabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header  bg-warning">
                    <h5 class="modal-title " id="firemodallabel">Are you sure?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <b>Delete This Room :</b> <br>
                    Room ID: {{room.roomid}} <br>
                    Room Type : {{room.type}} <br>

                </div>
                <div class="modal-footer container ">
                    <button type="submit" class="btn btn-danger">Delete This Room</button>
                    <button type="submit" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}